<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/assets/css/errormessages.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/auth/auth.css" rel="stylesheet">
    <link href="/assets/img/logo-white.png" rel="icon">

</head>

<body>
    <div class="container">
        <div class="row align-items-center" style="height: 600px;">

            <div class="col-md-6 offset-md-3  border border-primary rounded py-4">
                <form method="POST" action="/auth/Login" novalidate>
                    <h2>Login</h2>
                    <h4>
                        <% if (errorMassage) { %>
                            <div class="user-message  user-message--error">
                                <%= errorMassage %>
                            </div>
                            <% } %>
                    </h4>


                    <!-- TEXT FIELD GROUPS -->
                    <div class="form-group">
                        <!--<label for="email">Email address</label>-->
                        <input
                            class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            name="email" type="email" value="<%= oldInput.email %>" id="email"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <!--<label for="password">Password</label>-->
                        <input
                            class="form-control <%= validationErrors.find(e => e.param === 'password' || e.param === 'notMatched') ? 'invalid' : '' %>"
                            name="password" value="<%= oldInput.password %>" type="password" id="password"
                            placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block mx-auto" type="submit">Login</button>
                    <a href="/auth/reset"> Reset Password</a>
                    <b>
                        <p> If you don't have account ? <a style="text-align: center;" href="/auth/Register">register
                                please</a></p>

                        <input type="hidden" name="query" value="<%= query %>">
                </form>
            </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
