<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <link href="/assets/css/errormessages.css" rel="stylesheet">

    <!-- <link href="/auth/login.css" rel="stylesheet"> -->
    <link href="/assets/img/logo-white.png" rel="icon">

</head>

<body>
    <div class="container text">
        <div class="row align-items-center" style="height: 100vh;">
            <div class="col-md-6 offset-md-3  border border-primary rounded py-4">
                <h1 style="text-align: center;">ZERO TO ONE</h1>
                <% if (errorMassage) { %>
                    <div class="user-message  user-message--error">
                        <h3>
                            <%= errorMassage %>
                        </h3>
                    </div>
                    <% } %>
                        <br><br>
                        <form method="POST" action="/auth/login" novalidate>
                            <!-- TEXT FIELD GROUPS -->
                            <div class="form-group">
                                <input
                                    class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid blinking' : '' %>"
                                    name="email" type="email" value="<%= oldInput.email %>" id="email"
                                    placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control <%= validationErrors.find(e => e.param === 'password' || e.param === 'notMatched') ? 'invalid blinking' : '' %>"
                                    name="password" value="<%= oldInput.password %>" type="password" id="password"
                                    placeholder="Password">
                            </div>
                            <button class="btn btn-dark btn-block mx-auto button custom-btn btn-16"
                                type="submit">LOGIN</button>
                            <br>
                            <a style="text-align: center;color:black" href="/auth/reset">Forgot your password?</a>
                            <br>
                            <a style="text-align: center; color:black" href="/auth/register">Not registered yet?</a>

                            <input type="hidden" name="query" value="<%= query %>">
                        </form>
            </div>
        </div>
    </div>

    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
