<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>
        <title>New Password</title>
        <link href="/assets/css/errormessages.css" rel="stylesheet">
        <link href="/auth/auth.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row align-items-center" style="height: 100vh;">
            <div class="col-md-6 offset-md-3  rounded py-4">
                <form method="POST" action="/auth/new-password" novalidate>
                    <h2>New Password</h2>
                    <% if (errorMessage) { %>
                        <div class="user-message  user-message--error">
                            <h3 class="animate">
                                <%= errorMessage %>
                            </h3>
                        </div>
                        <% } %>


                            <!-- TEXT FIELD GROUPS -->

                            <div class="form-group">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <input class="form-control" name="password" type="password" id="password" placeholder="New Password">
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <button class="btn btn-primary btn-block mx-auto button custom-btn btn-16" type="submit">UPDATE
                                PASSWORD</button>
                </form>
            </div>
        </div>
    </div>

    <!-- bootstrap scripts -->
    <%- include('../layouts/strapAndJQuery.ejs') %>
        <script src="/js/showPassword.js"></script>
</body>

</html>