<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard</title>
    <%- include('../layouts/head.ejs') %>


        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/dashboard.css" rel="stylesheet">

        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <title>Test2</title>


</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- ===================== IF THE USER IS AUTHENTICATED =================== -->
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <div class="mb-2 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>
                                Dashboard
                            </h3>
                            <div class="flex items-center mb-4">
                                <a href="/admin/dashboard/users">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="far fa-user"></i>
                                            Users
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <div class="flex items-center mb-4">
                                <a href="/admin/dashboard/posts">
                                    <h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s" class="mr-3 crayons-icon color-base-50">
                                            <title id="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s">Post</title>
                                            <path
                                                d="M19 22H5a3 3 0 01-3-3V3a1 1 0 011-1h14a1 1 0 011 1v12h4v4a3 3 0 01-3 3zm-1-5v2a1 1 0 002 0v-2h-2zm-2 3V4H4v15a1 1 0 001 1h11zM6 7h8v2H6V7zm0 4h8v2H6v-2zm0 4h5v2H6v-2z">
                                            </path>
                                        </svg> Posts
                                    </h4>
                                </a>
                            </div>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/roadmaps">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fas fa-road"></i>
                                            Roadmaps
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <br>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/topics">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fab fa-accusoft"></i>
                                           All Topics
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <br>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/feedback">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fab fa-accusoft"></i>
                                           Feedback
                                        </h4>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                <div class="col-md-8">

                    <!--- Post Form Begins -->
                    <section class="mb-2 card">
                        <div class="card-body ">
                            <div class="row d-flex  mt-100">
                                <div class="col-md-12">
                                    <div class="progress blue "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                        <div class="progress-value">
                                            <%=roadmaps.length %> Roadmaps
                                        </div>
                                    </div>
                                    <div class="progress yellow "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                        <div class="progress-value">
                                            <%=topics.length %> Topic
                                        </div>
                                    </div>
                                    <div class="progress yellow "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                        <div class="progress-value">
                                            <%=posts.length %> Post
                                        </div>
                                    </div>
                                    <div class="progress blue "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                        <div class="progress-value">
                                            <%=users.length %> Users
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </section>
                </div>

            </div>
        </div>

        <script>
            let userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
        </script>
        <%- include('../layouts/strapAndJQuery.ejs') %>

            <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>