<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard</title>
    <%- include('../layouts/head.ejs') %>


        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <!-- <link href="/assets/css/style.css" rel="stylesheet"> -->
        <link href="/assets/css/dashboard.css" rel="stylesheet">

        <link href="/assets/css/navbar.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <title>Test2</title>

        <style>
            a:hover {
                color: #702C91;
            }
        </style>

</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- ===================== IF THE USER IS AUTHENTICATED =================== -->
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <%- include('../layouts/sidebar.ejs') %>
                    <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                    <div class="col-md-9">

                        <!--- Post Form Begins -->
                        <section class="mb-2 card">
                            <div class="card-body ">
                                <div class="row d-flex  mt-100">
                                    <div class="col-md-12">
                                        <div class="progress blue "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                            <div class="progress-value">
                                                <%=roadmaps.length %> Roadmaps
                                            </div>
                                        </div>

                                        <div class="progress yellow "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                            <div class="progress-value">
                                                <%=topics.length %> Topic
                                            </div>
                                        </div>
                                        <div class="progress yellow "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                            <div class="progress-value">
                                                <%=posts.length %> Post
                                            </div>
                                        </div>
                                        <div class="progress blue "> <span class="progress-left"> <span
                                                class="progress-bar"></span> </span> <span class="progress-right"> <span
                                                class="progress-bar"></span> </span>
                                            <div class="progress-value">
                                                <%=users.length %> Users
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </section>
                    </div>

            </div>
        </div>

        <script>
            let userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
        </script>
        <%- include('../layouts/strapAndJQuery.ejs') %>

            <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>