<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>
        <title><%= pageTitle %></title>

        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <link rel="stylesheet" href="/assets/css/inboxPage.css">


</head>

<body>
    <%- include('../layouts/navbar.ejs') %>
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                
                <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 postContent">
                    <!-- post detail -->
                    <div class="row d-flex">
                        <h3>Chat</h3>
                    </div>
                    <% if(errorMessage) { %>
                        <%= errorMessage %>
                    <% } else { %>
                    <div class="resultsContainer"></div>
                    <hr class="mt-2 mb-3"/>
                    <% } %>
                </div>
            </div>
        </div>
</body>
<%- include('../layouts/strapAndJQuery.ejs') %>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>
    let chatId = <%- JSON.stringify(chatId) %>
</script>

</html>
