<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link href="/img/logo-white.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/search.css">
    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/scrollbar.css">
    <link href="/assets/css/navbar.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
    <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />


    <link rel="stylesheet" href="/assets/css/scrollbar.css">

    <style>
        .form-search input {
            width: 90%;
        }

        #match-list {
            width: 70%;
        }
    </style>

</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- partial:index.partial.html -->
        <div class="container">
            <form class="mt-4 form-search" method="POST" action="/search/posts">
                <input class="form-control me-2" name="query" type="text" placeholder="Search for posts"
                    aria-label="Search">
            </form>

            <a href="/search">want to search for users ?</a>
            <div id="match-list" class="container">
                <!-- begginning of rendering all posts -->
                <% if (posts !==undefined || posts !==null) { %>
                    <% posts.forEach(function(post) { %>
                        <div class="crayons-story " data-content-user-id="219080">
                            <a href="aemiej/use-github-real-time-status-to-improve-your-profile-554m.html"
                                aria-labelledby="article-link-421966" class="crayons-story__hidden-navigation-link">Use
                                Github Real-Time Status to Improve Your Profile</a>


                            <div class="crayons-story__body">
                                <div class="crayons-story__top">
                                    <div class="crayons-story__meta">
                                        <div class="crayons-story__author-pic">

                                            <a href="/users/profile/<%= post.user.username %>"
                                                class="crayons-avatar crayons-avatar--l ">
                                                <img src="<% if(post.user.Image) { %>/<%= post.user.Image %> <% } else { %>/assets/img/default.png <%}%>"
                                                    alt="aemiej profile" class="crayons-avatar__image" />
                                            </a>
                                        </div>
                                        <div>
                                            <p>
                                                <a href="/users/profile/<%=post.user.username%>"
                                                    class="crayons-story__secondary fw-medium">
                                                    <%=post.user.name%>
                                                </a>
                                            </p>
                                            <a href="/posts/<%=post._id %>?timeline=true"
                                                class="crayons-story__tertiary fs-xs"><time
                                                    datetime="2020-08-08T06:46:08Z">
                                                    <%= moment(post.createdAt).fromNow() %>
                                                </time><span class="time-ago-indicator-initial-placeholder"
                                                    data-seconds="1596869168"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="crayons-story__indention">
                                    <h2 class="crayons-story__title">
                                        <p>
                                            <%= post.description %>
                                        </p>
                                    </h2>
                                    <div class="crayons-story__tags">
                                        <% post.hashtags.forEach(function (tag) { %>
                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix">#</span>
                                                <%= tag %>
                                            </a>
                                            <% }) %>
                                    </div>
                                    <div class="crayons-story__bottom">
                                        <div class="crayons-story__details">
                                            <a href="aemiej/use-github-real-time-status-to-improve-your-profile-554m.html"
                                                class="crayons-btn crayons-btn--s crayons-btn--ghost crayons-btn--icon-left"
                                                data-reaction-count data-reactable-id="421966">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    role="img" aria-labelledby="al1d5uvy9oyhvuvdwqy2p05movla8vol"
                                                    class="crayons-icon">
                                                    <title id="al1d5uvy9oyhvuvdwqy2p05movla8vol">Reactions
                                                    </title>
                                                    <path
                                                        d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                                                    </path>
                                                </svg>

                                                60
                                                <span class="hidden s:inline">&nbsp;reactions</span>
                                            </a>
                                            <a href="aemiej/use-github-real-time-status-to-improve-your-profile-554m.html#comments"
                                                class="crayons-btn crayons-btn--s crayons-btn--ghost crayons-btn--icon-left">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    role="img" aria-labelledby="ad9em4d60sxys3w6ddrpoouqjxuw2d4y"
                                                    class="crayons-icon">
                                                    <title id="ad9em4d60sxys3w6ddrpoouqjxuw2d4y">Comments
                                                    </title>
                                                    <path
                                                        d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                                                    </path>
                                                </svg>

                                                1
                                                <span class="hidden s:inline">&nbsp;comments</span>
                                            </a>
                                        </div>
                                        <div class="crayons-story__save">
                                            <small class="mr-2 crayons-story__tertiary fs-xs">
                                                <%= post.readingTime %> min read
                                            </small>
                                            <% if(userid==post.user._id ) { %>
                                                <a type="button" href="/posts/<%= post._id %>/edit?timeline=true"
                                                    id="article-save-button-421966"
                                                    class="crayons-btn crayons-btn--secondary crayons-btn--s bookmark-button"
                                                    data-reactable-id="421966" aria-label="Save to reading list"
                                                    title="Save to reading list">
                                                    <span class="bm-initial">edit</span>
                                                </a>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>


        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#search').on('input', function (e) {
                    const searchText = $('#search').val() || null;
                    console.log(searchText)
                    if (searchText !== null) {
                        if (searchText.length === 0) {
                            $('#search').val() = ''
                        } else {
                            $.ajax({
                                url: '/search/posts',
                                method: 'POST',
                                dataType: "json",
                                contentType: 'application/json',
                                data: JSON.stringify({ query: searchText }),
                                success: function (response) {
                                    console.log(response.modifiedPosts)
                                    $('#match-list').html(response.modifiedPosts);
                                }
                            })
                        }
                    } else {
                        $('#match-list').html('');
                    }

                })
            })
        </script>
</body>

</html>
