<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>

        <title>Search</title>

        <link rel="stylesheet" href="/assets/css/search.css">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link rel="stylesheet" href="/assets/css/scrollbar.css">

        <style>
            .form-search input {
                width: 90%;
            }
            
            #match-list {
                width: 70%;
            }
        </style>

</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- partial:index.partial.html -->
        <div class="container">
            <form class="mt-4 form-search" method="POST" action="/search/posts">
                <input class="form-control me-2" name="query" type="text" placeholder="Search for posts" aria-label="Search">
            </form>

            <a href="/search">want to search for users ?</a>
            <div id="match-list" class="container">
                <% if (posts.length === 0 || posts === null) { %>
                    <h3>No posts found with the keyword '<%= query %>'.</h3>
                    <% } %>
                <!-- begginning of rendering all posts -->
                <% if (posts !==undefined || posts !==null) { %>
                    <% posts.forEach(function(post) { %>
                        <div class="crayons-story post" data-id=<%=post._id%> data-content-user-id="219080">
                            <a href="aemiej/use-github-real-time-status-to-improve-your-profile-554m.html" aria-labelledby="article-link-421966" class="crayons-story__hidden-navigation-link">Use
                                Github Real-Time Status to Improve Your Profile</a>


                            <div class="crayons-story__body">
                                <div class="crayons-story__top">
                                    <div class="crayons-story__meta">
                                        <div class="crayons-story__author-pic">

                                            <a href="/users/profile/<%= post.user.username %>" class="crayons-avatar crayons-avatar--l ">
                                                <img src="<% if(post.user.Image) { %>/<%= post.user.Image %> <% } else { %>/assets/img/default.png <%}%>"
                                                    alt="aemiej profile" class="crayons-avatar__image" />
                                            </a>
                                        </div>
                                        <div>
                                            <p>
                                                <a href="/users/profile/<%=post.user.username%>" class="crayons-story__secondary fw-medium">
                                                    <%=post.user.name%>
                                                </a>
                                            </p>
                                            <a href="/posts/<%=post._id %>?timeline=true" class="crayons-story__tertiary fs-xs"><time
                                                    datetime="2020-08-08T06:46:08Z">
                                                    <%= moment(post.createdAt).fromNow() %>
                                                </time><span class="time-ago-indicator-initial-placeholder"
                                                    data-seconds="1596869168"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="crayons-story__indention">
                                    <h2 class="crayons-story__title">
                                        <p>
                                            <%= post.description %>
                                        </p>
                                    </h2>
                                    <div class="crayons-story__tags">
                                        <% post.hashtags.forEach(function (tag) { %>
                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix">#</span>
                                                <%= tag %>
                                            </a>
                                            <% }) %>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
        </div>





        <!--  -->

        <!-- post comments modal -->
        <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <div id="originalPostContainer"></div>
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="post">post</label>
                                <textarea style="resize: none;height:100px" class="form-control" name="reply" id="reply" rows="3" placeholder="What are you thinking..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submitReplyButton" type="button" class="btn btn-primary" disabled>Reply</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- post delete modal -->
        <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePostModalLabel">Delete the post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <p>You won't be able to delete this.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deletePostButton" type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layouts/strapAndJQuery.ejs') %>


            <script src="/js/common.js"></script>
            <script src="/js/postPage.js"></script>
            <script>
                $(document).ready(function() {
                    $('#search').on('input', function(e) {
                        const searchText = $('#search').val() || null;
                        console.log(searchText)
                        if (searchText !== null) {
                            if (searchText.length === 0) {
                                $('#search').val() = ''
                            } else {
                                $.ajax({
                                    url: '/search/posts',
                                    method: 'POST',
                                    dataType: "json",
                                    contentType: 'application/json',
                                    data: JSON.stringify({
                                        query: searchText
                                    }),
                                    success: function(response) {
                                        console.log(response.modifiedPosts)
                                        $('#match-list').html(response.modifiedPosts);
                                    }
                                })
                            }
                        } else {
                            $('#match-list').html('');
                        }

                    })
                })
            </script>
</body>

</html>
