<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>

        <title>
            <%= pageTitle %>
        </title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="assets/css/navbar.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/assets/css/scrollbar.css"> -->
        <link rel="stylesheet" href="/assets/css/timeline.css">
        <link rel="stylesheet" href="/assets/css/button.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/followersAndFollwing.css">

        <style>
            .form-control:focus {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        </style>
</head>

<body>
    <%- include('../layouts/navbar.ejs') %>
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <div class="mb-2 col-md-2 d-none d-md-block ">

                </div>
                <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                <div class="col-lg-6 col-md-10">
                    <% if(!postDetail) { %>
                        <section class="mb-2 card">

                            <div class="card-body">
                                <div class="p-0 m-0 card-body">
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                            <div class="form-group">
                                                <label class="sr-only" for="post">post</label>
                                                <textarea style="resize: none;height:100px;border-color: Transparent;" class="form-control" name="post" id="post" rows="3" placeholder="What are you thinking..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" id="submitPostButton" class="button3" disabled>share</button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <% } %>


                            <!-- ================================= twitter clone =================================================== -->
                            <!-- for ajax call -->
                            <div class="postContent"></div>


                            <!-- post comments modal -->
                            <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="originalPostContainer"></div>
                                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                                <div class="form-group">
                                                    <label class="sr-only" for="post">post</label>
                                                    <textarea style="resize: none;height:100px" class="form-control" name="reply" id="reply" rows="3" placeholder="What are you thinking..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button id="submitReplyButton" type="button" class="btn btn-primary" disabled>Reply</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- edit post -->
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="editPostContainer"></div>
                                            <div class="tab-pane fade show active" id="editPost" role="tabpanel" aria-labelledby="posts-tab">
                                                <div class="form-group">
                                                    <label class="sr-only" for="post">post</label>
                                                    <textarea style="resize: none;height:100px" class="form-control" name="post" id="edit" rows="3" placeholder="What are you thinking..." required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button id="submitEditButton" type="button" class="btn btn-primary">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- likers modal -->
                            <div class="modal fade" id="likesModal" tabindex="-1" role="dialog" aria-labelledby="likesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="likesModalLabel">Likes</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="similarContainer"></div>
                                            <!-- <div class="tab-pane fade show active" id="likesPost" role="tabpanel" aria-labelledby="posts-tab">
                                                <div class="form-group">
                                                    <label class="sr-only" for="post">post</label>
                                                    <textarea style="resize: none;height:100px" class="form-control" name="post" id="edit" rows="3" placeholder="What are you thinking..." required></textarea>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <!-- <button id="submitEditButton" type="button" class="btn btn-primary">Edit</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- post delete modal -->
                            <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deletePostModalLabel">Delete the post?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>You won't be able to delete this.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button id="deletePostButton" type="button" class="btn btn-primary">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>


                <div class="col-lg-4 col-md-4 col-xl-4 d-none d-lg-block d-lg-none">
                    <!-- aside latest news -->
                    <aside class="widget">
                        <div class="widget blog-widget">
                            <p class="widget-header">
                                People matches you
                            </p>
                            <p class="text-muted">They may be interested in your skills.</p>
                            <div class="resultsContainer">
                                <!-- render followers and followings here -->
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <script>
            let selectedTap = <%- JSON.stringify(selectedTap) %>

            /* eslint-disable */
            var userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
        </script>
        <%- include('../layouts/strapAndJQuery.ejs') %>
            <script>
                console.log($('.similarContainer span:first-child'));
            </script>
            <!-- Optional JavaScript -->

            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
            <script src="js/common.js"></script>
            <script src="js/explore.js"></script>
            <script src="/js/followersAndFollwing.js"></script>

</body>

</html>