<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layouts/head.ejs') %>

        <title>Edit Profile</title>

        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/errormessages.css" rel="stylesheet">

        <style>
            label {
                color: #009961;
            }
            
            .error-message {
                color: red;
            }
            
            #submitButton:hover {
                background-color: #702C91;
                color: white;
            }
            
            label {
                color: #702C91;
            }
        </style>
</head>

<body>
    <%- include('../../layouts/navbar.ejs') %>
        <div class="container">
            <div style="background-color: #eef0f1;border-radius: 10px; margin: 8px;" class="row align-items-center">
                <div class="py-4 rounded col-md-6 offset-md-3">
                    <h3 style="text-align: center;">Add roadmap</h3>
                    <!-- FORM -->
                    <!-- <form action="/users/profile" method="POST" enctype="multipart/form-data"> -->
                    <form action="/admin/dashboard/roadmaps/create" method="POST" enctype="multipart/form-data" id="submit">
                        <!-- TEXT FIELD GROUPS -->
                        <div class="form-group">
                            <h3>Info</h3>
                            <label for="name">title</label>
                            <input class="form-control" type="text" name="title" id="title" placeholder="Enter title" <%if(title){%> value="
                            <%=title%>"
                                <%}%> >
                                    <% if (errorMassage) { %>
                                        <% errorMassage.forEach(function(error) { %>
                                            <% if(error.param==='title' ) { %>
                                                <small class="text-danger">
                                            <%= error.msg %>
                                        </small>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>
                        </div>
                        <div class="form-group">
                            <label for="password">summary</label>
                            <input class="form-control" type="text" id="address" placeholder="summary" name="summary" <%if(summary){%> value="
                            <%=summary%>"
                                <%}%> >
                                    <% if (errorMassage) { %>
                                        <% errorMassage.forEach(function(error) { %>
                                            <% if(error.param==='summary' ) { %>
                                                <small class="text-danger">
                                            <%= error.msg %>
                                        </small>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>
                        </div>

                        <div class="form-group">
                            <label for="password">description</label>
                            <input class="form-control" type="text" id="address" placeholder="description" name="description" <%if(description){%> value="
                            <%=description%>"
                                <%}%> >
                                    <% if (errorMassage) { %>
                                        <% errorMassage.forEach(function(error) { %>
                                            <% if(error.param==='description' ) { %>
                                                <small class="text-danger">
                                            <%= error.msg %>
                                        </small>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>
                        </div>
                        <div class="form-group">
                            <label for="password">routeName</label>
                            <input class="form-control" type="text" id="address" placeholder="routeName" name="routeName" <%if(routeName){%> value="
                            <%=routeName%>"
                                <%}%> >
                                    <% if (errorMassage) { %>
                                        <% errorMassage.forEach(function(error) { %>
                                            <% if(error.param==='routeName' ) { %>
                                                <small class="text-danger">
                                            <%= error.msg %>
                                        </small>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <a class="mx-auto btn btn-outline-dark btn-block" href="/admin/dashboard/roadmaps">BACK</a>
                            </div>
                            <div class="col-6">

                                <button id="submitButton" class="mx-auto btn btn-block" style="border:1px solid #702C91;" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <%- include('../../layouts/footer.ejs') %>

            <!-- <script>
                const element = document.querySelector('#submit');
                element.addEventListener('submit', event => {
                    event.preventDefault();
                });
            </script> -->
            <!-- bootstrap scripts -->
            <script>
                let userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
            </script>
            <%- include('../../layouts/strapAndJQuery.ejs') %>

</body>

</html>