<!DOCTYPE html>
<html lang="en">

<head>


    <title>Roadmap Dashboard</title>
    <%- include('../../layouts/head.ejs') %>


        <!-- ==================== IF THE USER IS AUTHENTICATED ===================== -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <title>Test2</title>




        <!-- ================== END ====================== -->
</head>

<body>
    <%- include('../../layouts/navbar.ejs') %>

        <!-- ===================== IF THE USER IS AUTHENTICATED =================== -->
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <%- include('../../layouts/sidebar.ejs') %>

                <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                <div class="col">

                    <!-- begginning of rendering all posts -->
                    <a href="/admin/dashboard/roadmaps/create">
                        <button class="btn btn-outline-info scrollto">Add roadmap</button>

                    </a>
                    <br><br><br>
                    <% if (roadmaps !==undefined || roadmaps !==null) { %>
                        <% roadmaps.forEach(function(roadmap) { %>
                            <div id="roadmap" class="crayons-story " data-content-user-id="219080">
                                <div  class="crayons-story__body">
                                    <div class="crayons-story__top">
                                        <div class="crayons-story__meta">
                                            <div class="mt-3 text-center">
                                                <a href="/roadmaps/<%= roadmap.routeName %>" class="crayons-story__secondary fw-medium">
                                                    <h3>
                                                        <%=roadmap.title%>
                                                    </h3>
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="crayons-story__indention">
                                        <h2 class="crayons-story__title">
                                            <p>
                                                <%=roadmap.summary%>
                                            </p>
                                        </h2>
                                        <div class="crayons-story__tags">

                                            <span class="crayons-tag__prefix"></span> topics :
                                            <% if (roadmap.steps.length !==0) { %>
                                                <% for (let step of roadmap.steps ) {%>
                                                    <%= step.title %> ,
                                                        <%}%>
                                                            <% } else { %>
                                                                There is no topics yet
                                                                <% } %>

                                                                    <br>

                                        </div>
                                        <div class="crayons-story__bottom">
                                            <div class="crayons-story__details">


                                            </div>
                                            <div class="crayons-story__save">
                                                <a type="button" href="/admin/dashboard/roadmaps/edit/<%=roadmap._id%>" id="article-save-button-421966" class="crayons-btn crayons-btn--secondary crayons-btn--s bookmark-button" data-reactable-id="421966" aria-label="Save to reading list" title="Save to reading list">
                                                    <span class="bm-initial">edit</span>
                                                </a>
                                                <input name="roadmapId" type="hidden" value="<%=roadmap._id%>">
                                                <button style="color: #000;" class="btn btn-outline-danger scrollto" onclick="deleteRoadmap(this)">Delete</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>

                                    <!-- Post Ends -->
                                    <!-- endpost -->
                                    <!-- Post Ends -->
                </div>
                <div class="col-lg-3 col-xl-3 d-none d-lg-block d-lg-none">
                    <!-- aside latest news -->
                    <aside class="widget">
                        <div class="widget blog-widget">
                            <h2 class="widget-header">

                            </h2>
                        </div>
                </div>
            </div>
        </div>




        <script>
            let userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
        </script>
        <%- include('../../layouts/strapAndJQuery.ejs') %>

            <script src="/assets/js/admin.js"></script>


</body>

</html>