<!DOCTYPE html>
<html lang="en">

<head>


    <title>User Dashboard</title>
    <%- include('../../layouts/head.ejs') %>

        <!-- ==================== IF THE USER IS AUTHENTICATED ===================== -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../../layouts/navbar.ejs') %>

        <!-- ===================== IF THE USER IS AUTHENTICATED =================== -->
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <div class="mb-2 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>
                                Dashboard
                            </h3>
                            <div class="flex items-center mb-4">
                                <a href="/admin/dashboard/users">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="far fa-user"></i>
                                            Users
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <div class="flex items-center mb-4">
                                <a href="/admin/dashboard/posts">
                                    <h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s" class="mr-3 crayons-icon color-base-50">
                                            <title id="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s">Post</title>
                                            <path
                                                d="M19 22H5a3 3 0 01-3-3V3a1 1 0 011-1h14a1 1 0 011 1v12h4v4a3 3 0 01-3 3zm-1-5v2a1 1 0 002 0v-2h-2zm-2 3V4H4v15a1 1 0 001 1h11zM6 7h8v2H6V7zm0 4h8v2H6v-2zm0 4h5v2H6v-2z">
                                            </path>
                                        </svg> Posts
                                    </h4>
                                </a>
                            </div>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/roadmaps">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fas fa-road"></i>
                                            Roadmaps
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <br>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/topics">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fab fa-accusoft"></i>
                                          All Topics
                                        </h4>
                                    </span>
                                </a>
                            </div>
                            <br>
                            <div class="flex items-center">
                                <a href="/admin/dashboard/feedback">

                                    <span style="display: inline-block; margin-right: 3px;">
                                        <h4>
                                            <i style="margin-right: 16px;" class="fab fa-accusoft"></i>
                                           Feedback
                                        </h4>
                                    </span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                <div class="col">

                    <!--- Post Form Begins -->

                    <!--- Post Form Ends -->

                    <!-- begginning of rendering all posts -->
                    <!-- begginning of rendering all posts -->
                    <!-- begginning of rendering all posts -->
                    <% if (users !==undefined || users !==null) { %>
                        <% users.forEach(function(user) { %>
                            <div id="user" class="crayons-story " data-content-user-id="219080">
                                <div class="crayons-story__body">
                                    <div class="crayons-story__top">
                                        <div class="crayons-story__meta">
                                            <div class="crayons-story__author-pic">

                                                <a href="/users/profile/<%=user.username%>" class="crayons-avatar crayons-avatar--l ">
                                                    <img src="<%= user.Image %>" alt="aemiej profile" class="crayons-avatar__image" />
                                                </a>
                                            </div>
                                            <div>
                                                <p>
                                                    <a href="/users/profile/<%=user.username%>" class="crayons-story__secondary fw-medium">
                                                        <%=user.username%>
                                                    </a>
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="crayons-story__indention">
                                        <h2 class="crayons-story__title">
                                            <p>
                                                <%=user.name%>
                                            </p>
                                        </h2>
                                        <div class="crayons-story__tags">

                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix"></span>
                                                skils :
                                                <% user.skills.forEach(function (skill) { %>
                                                    <%= skill %> , <% }) %>
                                            </a>
                                            <br>
                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix"></span>
                                                year of birth : <%=user.yearOfBirth%>
                                            </a>
                                            <br>
                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix"></span>
                                                Country : <%= user.country %>
                                            </a>
                                            <br>
                                            <a href="" class="crayons-tag"><span class="crayons-tag__prefix"></span>
                                                Gender : <%= user.gender %>
                                            </a>
                                        </div>
                                        <div class="crayons-story__bottom">
                                            <div class="crayons-story__details">


                                            </div>
                                            <div class="crayons-story__save">
                                                <a type="button" href="/admin/dashboard/users/edit/<%=user._id%>" id="article-save-button-421966" class="crayons-btn crayons-btn--secondary crayons-btn--s bookmark-button" data-reactable-id="421966" aria-label="Save to reading list" title="Save to reading list">
                                                    <span class="bm-initial">edit</span>
                                                </a>
                                                <input name="userId" type="hidden" value="<%=user._id%>">
                                                <button style="color: #000;" class="btn btn-outline-danger scrollto" onclick="deleteUser(this)">Delete</button>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } %>

                </div>
                <div class="col-lg-3 col-xl-3 d-none d-lg-block d-lg-none">
                    <!-- aside latest news -->
                    <aside class="widget">
                        <div class="widget blog-widget">
                            <h2 class="widget-header">

                            </h2>

                        </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script>
            let userLoggedIn = <%- JSON.stringify(userLoggedIn) %>
        </script>
        <%- include('../../layouts/strapAndJQuery.ejs') %>

            <script src="/assets/js/admin.js"></script>
</body>

</html>