<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Roadmap</title>

<head>
    <link href="assets/img/logo-white.png" rel="icon">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/roadmap.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/assets/css/navbar.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="/assets/css/scrollbar.css">



    <style>
         a {
            text-decoration: none;
            color: #06A763;
        }

        .card-content h6.head {
            margin-top: 10px;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;

        }

        /* .card-content p.para{

            }  */
        .timeline-block {
            margin-bottom: 80px;
        }

        @media (max-width: 767px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 17px !important;
            }

            .section-title {
                height: 400px;
            }
        }
        @media (max-width: 430px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 17px !important;
            }

            .section-title {
                height: 500px !important;
            }
        }
        @media (max-width: 1100px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 20px !important;
            }

            .section-title {
                height: 600px; 
 
            }
        }
    </style>

</head>

<body>

    <!-- <div class="container border border-dark"> -->
    <%- include('../layouts/navbar.ejs') %>


    <section id="experience" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title" style="height: 300px;">
                <h1 style="text-align: center; font-size: 50px; color: #06A763;"><%= roadmap.title %></h1>
                <P style="font-size: 25px;text-align: justify; margin-bottom: 20px;"><%= roadmap.description %></P>
            </div>
            <a href="/backend">
                <h6 class="timeline-title head">Back-End Development</h6>
            </a>
            <h1 style="text-align: center; font-size: 50px; color: #06A763;">Front-End Development</h1> <br>
            <div id="timeline-experience">

                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <a href="html.html">
                        <div class="timeline-dot">
                            <h6>1</h6>
                        </div>
                    </a>
                    <!-- TIMELINE CONTENT -->
                    
                    <% for(let topic of steps){ %>
                        <% var count = 1 %>
                        <% if(count % 2 !== 0) { %>
                            <!-- THIRD TIMELINE -->
                            <div class="timeline-block">
                                <!-- DOT -->
                                <div class="timeline-dot">
                                    <h6><%= count %></h6>
                                </div>
                                <!-- TIMELINE CONTENT -->
                                <div class="card timeline-content">
            
                                    <a>
                                        <div class="card-content">
                                            <!-- TIMELINE TITLE -->
                                            <a href="topic.html">
                                                <h6 class="timeline-title head"><%= topic.title %></h6>
                                            </a>
                                            
                                            <!-- TIMELINE TITLE INFO -->
                                            <div class="timeline-info">
            
                                            </div>
                                            <!-- TIMELINE PARAGRAPH -->
                                            <p>
                                               <%= topic.description %>
                                            </p>
            
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <% } else { %>
                            <!-- FOURTH TIMELINE -->
                            <div class="timeline-block">
                                <!-- DOT -->
                                <div class="timeline-dot">
                                    <h6>4</h6>
                                </div>
                                <!-- TIMELINE CONTENT -->
                                <div class="card timeline-content">
                                    <a>
                                        <div class="card-content">
                                            <!-- TIMELINE TITLE -->
            
                                            <a href="topic.html">
                                                <h6 class="timeline-title head">Dom</h6>
                                            </a>
                                       
                                            <!-- TIMELINE TITLE INFO -->
                                            <div class="timeline-info">
            
                                            </div>
                                            <!-- TIMELINE PARAGRAPH -->
                                            <p>
                                                I recently joined here, currently working on various development
                                                aspects. I already worked on about..
                                            </p>
                                            <!-- BUTTON TRIGGER MODAL -->
                                            <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <%= count = count + 1 %>
                            <% } %>
                            <% } %>
                        
                
                </div>
            </div>
        </div>
    </section>

        <%- include('../layouts/footer.ejs') %>



            <script src="/assets/vendor/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
